@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  color: #24242C;
  background-color: rgb(245, 245, 245);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

button {
  color: rgb(245, 245, 245);
  background-color: #588544;
  font-family: inherit;
  font-weight: 600;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}

/* Layout */

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */

header {
  background-color: #24242C;
}

.nav-container {
  display: flex;
  align-items: center;
  max-width: 1050px;
  margin: auto;
  height: 3em;
  padding: 0 3em;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.06em;

}

@media(max-width: 450px) {
  header {
    padding: 0;
  }

  .nav-container {
    font-size: 0.8rem;
  }
}

header a {
  color: rgb(231, 231, 231);
  padding-right: 1.2em;
  text-decoration: none;
}

header a:hover {
  color: #588544;
  text-decoration: underline;
}

/* Footer */

footer {
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: auto;
  color: rgb(231, 231, 231);
  background-color: #24242C;
}

/* Home Page */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  height: 100vh;
  width: auto;
  background-image: linear-gradient(to bottom, #0000007d, rgba(46, 46, 46, 0.5)), url('./src/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  
}

@media(min-width: 576px) {
  .hero {
    height: 600px;
  }
}

.hero h1 {
  padding: 0 0.5em;
  font-size: 3.2rem;
  letter-spacing: 0.03em;
  color: rgb(243, 243, 243);
  text-shadow: 0 3px 0 rgb(19, 19, 19);
}

@media(max-width: 449px) {
  .hero h1 {
    font-size: 4rem;
    letter-spacing: 0.06em;
  }

  .hero h3 {
    display: none;
  }
}

.hero h3 {
  font-size: 1.4rem;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: rgb(243, 243, 243);
  text-shadow: 0 3px 0 rgb(19, 19, 19);
  border-bottom: 2px solid #588544;
}

.home-paragraph,
.home-paragraph-second,
.features-container {
  padding: 0 2em;
}

@media(min-width: 650px) {
  .home-paragraph,
  .home-paragraph-second,
  .features-container {
    padding: 0 4em;
  }
}

@media(min-width: 1050px) {
  .home-paragraph,
  .home-paragraph-second,
  .features-container {
    max-width: 1050px;
    margin: auto;
  }
}

.home-paragraph h2,
.home-paragraph-second h2 {
  padding-top: 1em;
  padding-bottom: 0.2em;
}

.home-paragraph button,
.home-paragraph-second button {
  color: rgb(243, 243, 243);
  padding: 1em 2em;
  margin-top: 0.7em;
  margin-bottom: 3em;
  letter-spacing: 0.04em;
}

.paragraph-button:hover {
  background-color: #7ab95f;
}

@media(min-width: 750px) {
  .features-container {
    display: flex;
    gap: 2em;
  }

  .features-container img {
    width: 55%;
    height: 55%;
  }

  .features-table {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
  }

  .feature {
    width: 100%;
  }
}

@media(max-width: 749px) {
  .features-container img {  
    width: 100%;
    height: auto;
  }
  
  .features-table {
    padding-top: 1.5em;
  }
}

.feature {
  padding: 0.4em 2em;
  margin-bottom: 0.5em;
  letter-spacing: 0.03em;
  line-height: 1.7em;
  border-radius: 0.3em;
  background-color: rgb(236, 236, 236);
  color:#24242C;
  cursor: pointer;
}

.feature:hover {
  background-color: rgb(223, 223, 223);
}

.feature h3 {
  display: flex;
  justify-content: space-between;
}

.feature span {
  font-size: 1.3em;
}

.home-paragraph-second span {
  border-bottom: 4px solid green;
}

/* Product Page */

.product-page-container section {
  padding: 2em;
}

.product-main-image,
.product-description-image {
  width: 100%;
  height: auto;
}

@media(min-width: 750px) {
  .product-first-section {
    display: flex;
    justify-content:space-evenly;
    gap: 2em;
  }

  .product-main-image {
    width: 50%;
    height: 50%;
  }

  .product-main-details {
    width: 50%;
    max-width: 400px;
  }
}

@media(min-width: 1050px) {
  .product-first-section {
    gap: 4em;
    max-width: 1050px;
    margin: auto;
  }
}

.product-title {
  margin: 0.4em 0 0.2em;
}

.price {
  font-size: 1.4rem;
  letter-spacing: 0.03em;
  margin: 0 0 0.2em;
}

.options-container {
  display: flex;
  gap: 1em;
}

.options-container > button {
  font-size: 0.9rem;
  padding: 0.2em 1.5em;
  border-radius: 0.2em;
  margin-bottom: 1.5em;
  margin-top: 1em;
  border: 2px solid #24242C;
}

.buy-button {
  width: 100%;
  height: 50px;
  margin: auto;
  display: block;
  font-size: 1rem;
  letter-spacing: 0.03em;
}

.buy-button:hover {
  font-size: 1.2rem;
}

.product-main-details > nav {
  display: flex;
  gap: 1em;
  margin: 2em 0 1em;
  font-weight: 600;
}

.product-main-details > nav > a {
  color: #5e5e5e;
  text-decoration: none;
}

.product-main-details > nav > a:hover {
  color:#24242C;
}

.specification-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.specification-menu > button {
  color: #5e5e5e;
  background-color: transparent;
  font-size: 1rem;
}

.specification-menu > button:hover {
  color:#24242C;
  cursor: pointer;
}

.specification-menu p {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  width: 10em;
  margin: 0;
}

.specification-row {
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  margin: 0.2em 0;
  background-color: rgb(236, 236, 236);
  cursor: default;
  border-radius: 0.3em;
}

.specification-row:hover {
  font-weight: 700;
  background-color: rgb(223, 223, 223);
}

.specification-row > p {
  margin: 0.3em;
}

.specification-image-container {
  overflow: hidden;
}

.specification-image {
  width: 100%;
  height: auto;
  padding: 2.5em 0;
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.description-section {
  max-width: 1050px;
  margin: auto;
}

.description-box {
  margin-top: 3.2em;
  padding: 0 1em;
}

.description-box p {
  line-height: 1.7;
  letter-spacing: 0.02em;
}

@media(min-width: 750px) {
  .description-section {
    display: flex;
    flex-direction: row-reverse;
    gap: 3em;
    width: 100%;
    background-color: #ececec;
    border-radius: 0.3em;
  }

  .description-section img {
    width: 50%;
    border-radius: 0.3em;
  }

  .reverse {
    flex-direction: row;
    background-color: rgb(245, 245, 245);
  }

  .description-box {
    background-color: #d8d8d8;
    height: 100%;
    border-radius: 0.3em;
    padding: 0 2em;
    margin: 0;
  }

  .description-box p {
    line-height: 2;
  }

  .reverse-box {
    background-color: #ececec;
  }
}

.offer-section h2 {
  text-align: center;
  font-size: 2rem;
  padding: 2em 0 1em;
}

.offer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 0.2em;
  margin: 0;
}

@media(max-width: 650px) {
  .offer-container {
    flex-direction: column;
  }

  .offer-section h2 {
    margin: 0;
    padding: 0 0 1.5em;
  }
}

.offer-container span {
  font-size: 2rem;
}

.offer-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
  border-radius: 2em;
  background-color: rgb(236, 236, 236);
  box-shadow: 0px 10px 15px 2px rgb(95, 95, 95);
}

.offer-presentation img {
  width: 100%;
  height: auto;
  max-width: 300px;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.offer-presentation ul {
  margin: 1.2em 0 0;
}

.offer-presentation li {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5em 0;
  color: #24242C;
}

@media(max-width: 650px) {
  .offer-presentation ul {
    margin: 1.4em 2em 1em;
  }

  .offer-presentation li {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0.5em 0;
    color: #24242C;
  }
}

@media(min-width: 850px) {
  .offer-presentation ul {
    margin: 1.4em 2em 1em;
  }

  .offer-presentation li {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0.5em 0;
    color: #24242C;
  }
}

.offer-presentation a {
  text-decoration: none;
}

.offer-presentation-cta {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  padding: 0.2em;
  background-color: #588544;
  color: rgb(245, 245, 245);
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.offer-presentation {
  cursor: pointer;
}

.offer-presentation:hover .offer-presentation-cta {
  font-weight: 600;
  background-color: #7ab95f;
}

.offer-presentation-price {
  color: #24242C;
  font-weight: 500;
  text-align: center;
  font-size: 1.5rem;
  margin: 0 0 0.5em;
}

.review-section {
  max-width: 850px;
  margin: auto;
}

.review-section h2 {
  text-align: center;
  font-size: 2rem;
}

.review-container {
  width: 100%;
  max-width: 380px;
  margin: 2em auto;
  padding: 1em;
  background-color: #ececec;
  border-radius: 0.3em;
}

.review-image {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 0.3em;
}

.review-body {
  padding: 1em;
  border-radius: 0.3em;
}

.review-body h4 {
  margin: 0;
}

.review-body p {
  border-radius: 0.3em;
  padding: 1em;
  margin: 0;
  line-height: 1.7em;
  background-color: #d8d8d8;
}

.review-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em 1em;
}

.review-stars {
  height: auto;
  max-width: 100px;
}

@media(min-width: 600px) {
  .review-container {
    display: flex;
    max-width: 100%;
    gap: 1em;
  }

  .review-image {
    max-width: 200px;
    border-radius: 0.3em;
  }

  .review-body {
    padding: 1em 0;
  }
}

@media(min-width: 720px) {
  .review-container {
    gap: 1em;
  }

  .review-image {
    max-width: 250px;
    padding: 1em;
    border-radius: 1.3em;
  }

  .review-body {
    padding: 1em 2em;
  }
}

/* Contact page */

.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
}